@{
    ViewData["Title"] = "User Skills";
}

<h2>@ViewData["Title"]</h2>

@{
    Layout = "_Layout";
}

<button type="button" class="btn btn-info">Add Skill</button>

<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Skill ID</th>
            <th scope="col">Skill Name</th>
            <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>

